@import "./scss/normalize.scss";
@import "~bootstrap/scss/bootstrap";

.main-table {
  margin-bottom: 0;

  th, td {
    text-align: center;
  }

  thead tr {
    vertical-align: middle;
  }

  .search-input-label {
    text-align: right;
  }
}

.statistic-row {
  td {
    text-align: initial;

    &:first-child {
      text-align: right;

      border-right: 1px solid white;
    }
  }
}

.hide {
  display: none;
}

[data-sort-by-properties] {
  margin-right: 10px;

  cursor: pointer;
  user-select: none;

  &:focus,
  &:hover,
  &:active {
    filter: invert(90%);
  }
}

.search-input {
  width: 99%;

  color: black;
}

.currency-select {
  color: black;

  cursor: pointer;
}

.user-link {
  display: block;
  width: 200px;

  user-select: none;
}

.user-details {
  width: 200px;
  margin-top: 5px;

  text-align: center;
}