@import "./scss/normalize.scss";
@import "~bootstrap/scss/bootstrap";

.main-table {
  margin-bottom: 0;
}

.hide {
  display: none;
}

[data-sort-by-properties] {
  margin-right: 10px;

  cursor: pointer;
  user-select: none;

  &:focus,
  &:hover,
  &:active {
    filter: invert(90%);
  }
}

.search-input-label {
  text-align: right;
}

.search-input {
  width: 99%;

  color: black;
}

.currency-select {
  color: black;
}